body {
  background-color: gray;
}
.contenedor {
  background-color: indianred;
}

.caja1 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
}

/* agregamos margenes para cada etiqueta div */
/* agregamos margen a la izquierda */
.caja2 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-left: 40px;
}

/* agregamos margen a la derecha */
.caja3 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-right: 40px;
}

.caja4 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-top: 40px;
}

.caja5 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin-bottom: 40px;
}

.caja6 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin: 20px 80px 30px 10px;
}

/* agregamos la caja al medio de todo */

.caja7 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  margin: auto;
}
