i {
  font-size: 30px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube-square {
  color: #ff0000;
}

.fa-instagram-square {
  color: #c13584;
}

.fa-github-square {
  color: #bd2c00;
}

.fa-patreon {
  color: #f96854;
}
